.timeline-photo {
  width: 70vw;
  height: 25vw;
}
.recruitment-paragraph {
  padding: 10px;
  text-align: center;
  width: 80vw;
}
.recruitment-buttons-container {
  flex-direction: start;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.recruitment-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
