.timeline-photo {
  width: 70vw;
  height: 25vw;
  margin: 10px;
}
.recruitment-paragraph {
  padding: 10px;
  padding-top: 20px;
  text-align: left;
  width: 50vw;
}
.recruitment-paragraph-m {
  margin: 10px;
  text-align: left;
}
.recruitment-buttons-container {
  flex-direction: start;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.recruitment-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 25px;
  padding-bottom: 0px;
}
.recruitment-light {
  color: #828282;
}
.freshman-form {
  color: #ff603e;
  margin: 5px;
}
.faqs-container {
  background: #253263;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faq-dropdowns-container {
  width: 90vw;
}
.recruitment-title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 20px;
}
.recruitment-title-m {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 20px;
  width: 90vw;
}
.faq-question-text {
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 70vw;
}
.faq-question {
  margin-right: 10px;
  display: flex;
}
.faq-counter {
  border-radius: 50%;
  width: 43px;
  height: 43px;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  text-align: center;
  margin-right: 20px;
}
.faq-counter-m {
  border-radius: 50%;
  width: 30px;
  height: 28px;
  font-size: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  text-align: center;
  margin-right: 20px;
}
.faq-container {
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #253263;
  color: #ffffff;
  font-size: 24px;
  display: flex;
}
.answer {
  font-size: 16px;
}
.faq-expand-button {
  margin-left: 10px;
}
.arrow {
  width: 14px;
  height: 14px;
}
