.timeline-photo {
  width: 70vw;
  height: 40vw;
  margin: 30px;
}
.recruitment-paragraph {
  padding: 10px;
  text-align: left;
  width: 60vw;
}
.recruitment-buttons-container {
  flex-direction: start;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.recruitment-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.recruitment-light {
  color: #828282;
}
.freshman-form {
  color: #ff603e;
  margin: 5px;
}
