@font-face {
  font-family: "Proxima Nova";
  src: url("fonts/Proxima-Nova-Thin.otf");
}
.home-container{
    font-family: "Lato", sans-serif;
}
.center{
    text-align: center
}

.navbar-container {
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  background-color: #253263;
  display: flex;
  flex-direction: row;
}

.nav-button-selected {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  font-size: 18px;
}

.nav-button {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #bdbdbd;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  font-size: 18px;
}

.nav-button:hover {
  cursor: pointer;
}

.nav-buttons {
  padding-right: 5%;
  height: 50px;
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;
  line-height: 29px;
  display: flex;
  flex-direction: row;
}

.header-photo {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 300px;
  object-fit: cover;
}

.name-logo{
  position: absolute;
  top: 50%;
  left: calc((100vw - 497px)/2);

}
.header-text{
    position: absolute;
    top: 60%;
    left: 50%;
    color: white;
    font-size: 50px;
    font-weight: bold;
    width: 400px;
    margin-left: -200px;
    text-align: center;

}

.header-gradient{
   position: absolute;
   background-image: linear-gradient(1.65deg, #253263 1.13%, rgba(196, 196, 196, 0) 96.36%);
   top: 0px;
   left: 0;
   right: 0;
   bottom: 0;
}
.header-container {
   position: relative;
  /* width: 100vw;
  height: 50vh; */
  /* background-image: url("../images/namelogo.png"),
    linear-gradient(1.65deg, #253263 1.13%, rgba(196, 196, 196, 0) 96.36%),
    url("../images/homepic.png");
  background-position: 50% 70%, center, center;
  background-size: auto, cover, cover;
  background-repeat: no-repeat; */
}

.section-title {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #253263;
}

.section-text {
  margin: 1em 7em;
  font-family: "Proxima Nova", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: left;
  color: #000000;
}
.sections-container {
 position: relative;
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
  min-height: 50vh;
}
.section-photo {
  width: 100vw;
}
.sub-buttons{
  position: relative;
  left:0;
  right:0;
  display: flex;
}
.sub-button{
    align:center;
}

.sub-pic{
 width: calc((100vw)/3);
 height: 100%;
}
.sub-title{
  position: absolute;
  color: #ffffff;
  font-size: 3vw;
  left: calc((100vw/30));
  right: calc((100vw/30));
  top: 50%;
  margin-top: 0;
}
.logo {
  margin-left: 5px;
  height: 35px;
}

.footer-container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  height: 115px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  background-color: #253263;
}

.left-footer {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 20px;
  text-align: left;
  color: #ffffff;
  margin-top: 1%;
  margin-left: 2%;
}
.contact {
  margin-top: 2%;
  margin-bottom: 2%;
}
.email {
  font-weight: lighter;
  color: #ffffff;
  text-decoration-line: none;
  padding-left: 3%;
}

.mail-container {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
}

.right-footer {
  padding-right: 5%;
  height: 50px;
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;
  line-height: 29px;
  display: flex;
  flex-direction: row;
}

.social-pic {
  margin-right: 5vw;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

.main-container {
  min-height: 100vh;
}

.home-container {
  min-height: calc(100vh - 165px);
}

/* team page stuff */
.sections-container{
  margin-left: 4vw;
  width: 92vw;

}
.leads-container {
   text-align: left;
   margin-bottom: 6vh;
}
.team-title{
    font-size: 25px;
    font-weight: bold;
}
.lead-blocks-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}
.team-container{
    text-align: left
}
.team-filters-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85vw;
    justify-content: space-between;
    margin-top: 4vh;
    margin-bottom: 1vh;
}
.team-blocks-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/* person block stuff */

.person-block-boldtext{
    font-size: 15px;
    font-weight: bold;
}

.person-block-regtext{
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: 10px;

}
.person-fronttext{
    margin-bottom: 10px;
}
.person-block-front{
    display: flex;
    flex-direction: column;
    width: 175px;
    overflow-x: wrap;
    height: 240px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-right: 2vw;
    margin-top: 2vw;
    margin-bottom: 1vw;
    line-height: 25px;
    justify-content: space-between;
}
.person-block-back{
    padding: 20px;
    color: white;
    width: 135px;
    height: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: #253263;
    margin-right: 2vw;
    margin-top: 2vw;
    margin-bottom: 1vw;
}
.person-photo{
    display: inline-flex;
    width: 175px;
    height: 155px;
    object-fit: cover;
}
.filter-underline{
    height: 4px;
    background-color: red;
}
.filter-button{
    font-weight: bold;
}
