

.navbar-container {
  min-height: 250px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  background-image: url("../images/image1.png");
  background: linear-gradient(2.57deg, #253263 1.13%, rgba(196, 196, 196, 0) 96.36%);

}

.navbar-title {
  padding-top: 10px;
  padding-left: 20px;
  color: #ffffff;
}
.navbar-subtitle {
  width: 98px;
  height: 29px;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;

  color: #FFFFFF;
}

/* image 1 */
